<!DOCTYPE html>
<html>
  <head>
   <meta charset='UTF-8' />
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <script src="<%= url('/application.js') %>"></script>
  <link href="<%= url('/favicon.ico') %>" rel="favicon" type="text/favicon" />
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body class='container'>
    <%= yield %>
  </body>
</html>