<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Yes or No</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

  <header class="logo">
  </header>

  <section>
    <form method="POST" id="quesform">
    <div class="language">
        <span id="tr" onclick="switchLang('tr')">[TR]</span>
        <span id="en" onclick="switchLang('en')">[EN]</span> <br>
      </div>
      <input type="text"  placeholder=" Question?"  required autofocus class="from-input" id="question" name="ques"></br> <br>
        <input type="radio" name="answer" value="Yes" id="yes"><span id="yesValue">Yes</span>
        <input type="radio" name="answer" value="No" id="no"><span id="noValue">No</span> <br>
      <input type="submit" onclick="makeUrl()" value="Create" id="send" href="">
    </form>
  </section>

  <footer>
    <span>Imam Hatipler Kapatilsin</span>
  </footer>

  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-46834633-3', 'auto');ga('send', 'pageview');
  </script>
</body>
</html>
